
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    
    /* color */
    --color-primary : #353185;
    --color-border : #403BA0;
    --color-darkBlue : #29266E;
    --color-abu : #E4E4E4;
    --color-grey : #414141;
    

    /* font */
    --font-inter : "Inter";
    --font-header : "League Spartan";

    --default-font-family: var(--font-inter);

}